<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" name="HMP Server" monitorInterval="300">
	<Properties>
		<Property name="debugFile">logs/debug</Property>
		<Property name="infoFile">logs/info</Property>
		<Property name="warnFile">logs/warn</Property>
		<Property name="errorlFile">logs/error</Property>

		<Property name="pattern">
		%-d{yyyy-MM-dd HH:mm:ss,SSS}[%p][%t][%F:%M(%L)] -  %m%n
		</Property>
	</Properties>

	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="${pattern}"/>
		</Console>
		
		<RollingFile name="debugFile" fileName="${debugFile}.log"
					 filePattern="${debugFile}_%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout pattern="${pattern}"/>
			<Policies>
				<OnStartupTriggeringPolicy/>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<SizeBasedTriggeringPolicy size="100 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="10"/>
			<Filters>
				<ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>
		</RollingFile>

		<RollingFile name="infoFile" fileName="${infoFile}.log"
					 filePattern="${infoFile}_%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout pattern="${pattern}"/>
			<Policies>
				<OnStartupTriggeringPolicy/>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<SizeBasedTriggeringPolicy size="50 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="10"/>
			<Filters>
				<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>
		</RollingFile>

		<RollingFile name="warnFile" fileName="${warnFile}.log"
					 filePattern="${warnFile}_%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout pattern="${pattern}"/>
			<Policies>
				<OnStartupTriggeringPolicy/>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<SizeBasedTriggeringPolicy size="50 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="10"/>
			<Filters>
				<ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>
		</RollingFile>

		<RollingFile name="errorlFile" fileName="${errorlFile}.log"
					 filePattern="${errorlFile}_%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout pattern="${pattern}"/>
			<Policies>
				<OnStartupTriggeringPolicy/>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<SizeBasedTriggeringPolicy size="50 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="10"/>
			<Filters>
				<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>
		</RollingFile>
	</appenders>

	<Loggers>
		<!-- <Logger name="BackupLogger" level="debug">
			<appender-ref ref="debugFile" level="debug"/>
			<appender-ref ref="infoFile" level="info"/>
			<appender-ref ref="warnFile" level="warn"/>
			<appender-ref ref="errorlFile" level="error"/>
		</Logger> -->
		<Root level="trace">
			<appender-ref ref="debugFile" level="debug"/>
			<appender-ref ref="infoFile" level="info"/>
			<appender-ref ref="warnFile" level="warn"/>
			<appender-ref ref="errorlFile" level="error"/>
			<appender-ref ref="Console" level="info"/>
		</Root>
	</Loggers>
</Configuration>
