<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:util="http://www.springframework.org/schema/util" 
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.2.xsd 
http://www.springframework.org/schema/util 
http://www.springframework.org/schema/util/spring-util-4.2.xsd 
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
">
	<context:annotation-config />
	<context:component-scan base-package="cn.pl.hmp.server"/>

	<!-- 引入属性文件 -->
	<context:property-placeholder location="classpath:config.properties" />
	<util:properties id="config" location="classpath:config.properties"/>
	
	<!-- JSON日期转换 -->
	<bean id="jsonDateSerializer" class="cn.pl.hmp.server.entity.JsonDateSerializer"></bean>
	
	<!-- 激活自动代理功能 -->
	<aop:aspectj-autoproxy proxy-target-class="true" />
	
	<!-- 切面注解注入 -->
	<bean class="cn.pl.hmp.server.aop.PointCutAnnotationAop"/>

	<import resource="spring-jdbc.xml"/>
	
	
	<!-- 定时配置     start -->
    <!-- 线程执行器配置，用于定时任务注册 -->
    <bean id="executor"
        class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="10" />
        <property name="maxPoolSize" value="100" />
        <property name="queueCapacity" value="500" />
    </bean>

    <!-- 业务对象 -->
    <bean id="dataCountObject" class="cn.pl.hmp.server.quartz.DataCountJob" />
    
    <!-- 调度业务 -->
    <bean id="dataCountJobDetail"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="dataCountObject" />
        <property name="targetMethod" value="work" />
    </bean>
    <!-- 增加调度触发器 -->
    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="dataCountJobDetail" />
        <property name="cronExpression" value="0 30 02 * * ?" />
    </bean>
    <!-- 设置调度 -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronTrigger" />
            </list>
        </property>
        <property name="taskExecutor" ref="executor" />
    </bean>
    <!-- 定时配置     end -->
	
</beans>