<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:util="http://www.springframework.org/schema/util" 
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd 
http://www.springframework.org/schema/util 
http://www.springframework.org/schema/util/spring-util-4.0.xsd 
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
">
	<context:annotation-config />
	<context:component-scan base-package="cn.pl.hmp.server"/>

	<!-- 引入属性文件 -->
	<context:property-placeholder location="classpath:config.properties" />
	<util:properties id="config" location="classpath:config.properties"/>
	
	<!-- JSON日期转换 -->
	<bean id="jsonDateSerializer" class="cn.pl.hmp.server.entity.JsonDateSerializer"></bean>
	
	<!-- 激活自动代理功能 -->
	<aop:aspectj-autoproxy proxy-target-class="true" />
	
	<!-- 切面注解注入 -->
	<bean class="cn.pl.hmp.server.aop.PointCutAnnotationAop"/>

	<import resource="spring-jdbc.xml"/>
	
</beans>