<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.pl.hmp.server.dao.mapper.HotelRoomMapper" >
  <resultMap id="BaseResultMap" type="cn.pl.hmp.server.dao.entity.HotelRoom" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sys_id" property="sysId" jdbcType="BIGINT" />
    <result column="org_id" property="orgId" jdbcType="BIGINT" />
    <result column="area" property="area" jdbcType="DOUBLE" />
    <result column="floor" property="floor" jdbcType="INTEGER" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="room_num" property="roomNum" jdbcType="VARCHAR" />
    <result column="room_type" property="roomType" jdbcType="VARCHAR" />
    <result column="house_type" property="houseType" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="wifi" property="wifi" jdbcType="VARCHAR" />
    <result column="hotel_id" property="hotelId" jdbcType="BIGINT" />
    <result column="rcuIp" property="rcuip" jdbcType="VARCHAR" />
    <result column="ir_cut" property="irCut" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="BIGINT" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="BIGINT" />
    <result column="available" property="available" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, sys_id, org_id, area, floor, ip, room_num, room_type, house_type, unit, wifi, 
    hotel_id, rcuIp, ir_cut, create_time, creator, modify_time, modifier, available
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.pl.hmp.server.dao.entity.HotelRoomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from hmp_hotel_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hmp_hotel_room
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hmp_hotel_room
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.pl.hmp.server.dao.entity.HotelRoom" >
    insert into hmp_hotel_room (id, sys_id, org_id, 
      area, floor, ip, room_num, 
      room_type, house_type, unit, 
      wifi, hotel_id, rcuIp, 
      ir_cut, create_time, creator, 
      modify_time, modifier, available
      )
    values (#{id,jdbcType=BIGINT}, #{sysId,jdbcType=BIGINT}, #{orgId,jdbcType=BIGINT}, 
      #{area,jdbcType=DOUBLE}, #{floor,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, #{roomNum,jdbcType=VARCHAR}, 
      #{roomType,jdbcType=VARCHAR}, #{houseType,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, 
      #{wifi,jdbcType=VARCHAR}, #{hotelId,jdbcType=BIGINT}, #{rcuip,jdbcType=VARCHAR}, 
      #{irCut,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=BIGINT}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=BIGINT}, #{available,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.pl.hmp.server.dao.entity.HotelRoom" >
    insert into hmp_hotel_room
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sysId != null" >
        sys_id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="floor != null" >
        floor,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="roomNum != null" >
        room_num,
      </if>
      <if test="roomType != null" >
        room_type,
      </if>
      <if test="houseType != null" >
        house_type,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="wifi != null" >
        wifi,
      </if>
      <if test="hotelId != null" >
        hotel_id,
      </if>
      <if test="rcuip != null" >
        rcuIp,
      </if>
      <if test="irCut != null" >
        ir_cut,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="available != null" >
        available,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sysId != null" >
        #{sysId,jdbcType=BIGINT},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="area != null" >
        #{area,jdbcType=DOUBLE},
      </if>
      <if test="floor != null" >
        #{floor,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="roomNum != null" >
        #{roomNum,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null" >
        #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="houseType != null" >
        #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="wifi != null" >
        #{wifi,jdbcType=VARCHAR},
      </if>
      <if test="hotelId != null" >
        #{hotelId,jdbcType=BIGINT},
      </if>
      <if test="rcuip != null" >
        #{rcuip,jdbcType=VARCHAR},
      </if>
      <if test="irCut != null" >
        #{irCut,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="available != null" >
        #{available,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.pl.hmp.server.dao.entity.HotelRoom" >
    update hmp_hotel_room
    <set >
      <if test="sysId != null" >
        sys_id = #{sysId,jdbcType=BIGINT},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=DOUBLE},
      </if>
      <if test="floor != null" >
        floor = #{floor,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="roomNum != null" >
        room_num = #{roomNum,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null" >
        room_type = #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="houseType != null" >
        house_type = #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="wifi != null" >
        wifi = #{wifi,jdbcType=VARCHAR},
      </if>
      <if test="hotelId != null" >
        hotel_id = #{hotelId,jdbcType=BIGINT},
      </if>
      <if test="rcuip != null" >
        rcuIp = #{rcuip,jdbcType=VARCHAR},
      </if>
      <if test="irCut != null" >
        ir_cut = #{irCut,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=BIGINT},
      </if>
      <if test="available != null" >
        available = #{available,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.pl.hmp.server.dao.entity.HotelRoom" >
    update hmp_hotel_room
    set sys_id = #{sysId,jdbcType=BIGINT},
      org_id = #{orgId,jdbcType=BIGINT},
      area = #{area,jdbcType=DOUBLE},
      floor = #{floor,jdbcType=INTEGER},
      ip = #{ip,jdbcType=VARCHAR},
      room_num = #{roomNum,jdbcType=VARCHAR},
      room_type = #{roomType,jdbcType=VARCHAR},
      house_type = #{houseType,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      wifi = #{wifi,jdbcType=VARCHAR},
      hotel_id = #{hotelId,jdbcType=BIGINT},
      rcuIp = #{rcuip,jdbcType=VARCHAR},
      ir_cut = #{irCut,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=BIGINT},
      available = #{available,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!-- 自定义 -->
   <resultMap id="BaseUniqueResultMap" type="cn.pl.hmp.server.dao.entity.HotelRoom" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sys_id" property="sysId" jdbcType="BIGINT" />
    <result column="org_id" property="orgId" jdbcType="BIGINT" />
    <result column="area" property="area" jdbcType="DOUBLE" />
    <result column="floor" property="floor" jdbcType="INTEGER" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="room_num" property="roomNum" jdbcType="VARCHAR" />
    <result column="room_type" property="roomType" jdbcType="VARCHAR" />
    <result column="house_type" property="houseType" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="wifi" property="wifi" jdbcType="VARCHAR" />
    <result column="hotel_id" property="hotelId" jdbcType="BIGINT" />
    <result column="rcuIp" property="rcuip" jdbcType="VARCHAR" />
    <result column="ir_cut" property="irCut" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="BIGINT" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="BIGINT" />
    <result column="available" property="available" jdbcType="BIT" />
    <result column="unique_num" property="uniqueNum" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="selectListAddUniqueNum" resultMap="BaseUniqueResultMap" parameterType="cn.pl.hmp.server.dao.entity.HotelRoomExample" >
    select
     <if test="distinct" >
      distinct
    </if>
     room.*,info.unique_num from 
    hmp_hotel_room room ,hmp_hotel_info info where room.hotel_id = info.id 
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  <!-- 批量添加 -->
  <insert id="insertBatch" parameterType="java.util.List">
    <![CDATA[
    insert into hmp_hotel_room(house_type,room_num,unit, ip,wifi,rcuIp,ir_cut)
    values 
    ]]>
    <foreach collection ="list" item ="item" index ="index" separator =","> 
       (#{item.houseType},#{item.roomNum},#{item.unit},#{item.ip},
       #{item.wifi},#{item.rcuip},#{item.irCut}) 
    </foreach> 
  </insert>
</mapper>