<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.pl.hmp.server.dao.mapper.MenuPagesMapper" >
  <resultMap id="BaseResultMap" type="cn.pl.hmp.server.dao.entity.MenuPages" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sys_id" property="sysId" jdbcType="BIGINT" />
    <result column="org_id" property="orgId" jdbcType="BIGINT" />
    <result column="back_img" property="backImg" jdbcType="VARCHAR" />
    <result column="content_cn" property="contentCn" jdbcType="VARCHAR" />
    <result column="content_en" property="contentEn" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="img_position" property="imgPosition" jdbcType="VARCHAR" />
    <result column="img_width" property="imgWidth" jdbcType="INTEGER" />
    <result column="title_cn" property="titleCn" jdbcType="VARCHAR" />
    <result column="title_en" property="titleEn" jdbcType="VARCHAR" />
    <result column="menu_id" property="menuId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="BIGINT" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="BIGINT" />
    <result column="available" property="available" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, sys_id, org_id, back_img, content_cn, content_en, img, img_position, img_width, 
    title_cn, title_en, menu_id, create_time, creator, modify_time, modifier, available
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.pl.hmp.server.dao.entity.MenuPagesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from sys_menu_pages
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_menu_pages
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_menu_pages
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.pl.hmp.server.dao.entity.MenuPages"  keyProperty="id" useGeneratedKeys="true">
    insert into sys_menu_pages (id, sys_id, org_id, 
      back_img, content_cn, content_en, 
      img, img_position, img_width, 
      title_cn, title_en, menu_id, 
      create_time, creator, modify_time, 
      modifier, available)
    values (#{id,jdbcType=BIGINT}, #{sysId,jdbcType=BIGINT}, #{orgId,jdbcType=BIGINT}, 
      #{backImg,jdbcType=VARCHAR}, #{contentCn,jdbcType=VARCHAR}, #{contentEn,jdbcType=VARCHAR}, 
      #{img,jdbcType=VARCHAR}, #{imgPosition,jdbcType=VARCHAR}, #{imgWidth,jdbcType=INTEGER}, 
      #{titleCn,jdbcType=VARCHAR}, #{titleEn,jdbcType=VARCHAR}, #{menuId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=BIGINT}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=BIGINT}, #{available,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="cn.pl.hmp.server.dao.entity.MenuPages" keyProperty="id" useGeneratedKeys="true">
    insert into sys_menu_pages
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sysId != null" >
        sys_id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="backImg != null" >
        back_img,
      </if>
      <if test="contentCn != null" >
        content_cn,
      </if>
      <if test="contentEn != null" >
        content_en,
      </if>
      <if test="img != null" >
        img,
      </if>
      <if test="imgPosition != null" >
        img_position,
      </if>
      <if test="imgWidth != null" >
        img_width,
      </if>
      <if test="titleCn != null" >
        title_cn,
      </if>
      <if test="titleEn != null" >
        title_en,
      </if>
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="available != null" >
        available,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sysId != null" >
        #{sysId,jdbcType=BIGINT},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="backImg != null" >
        #{backImg,jdbcType=VARCHAR},
      </if>
      <if test="contentCn != null" >
        #{contentCn,jdbcType=VARCHAR},
      </if>
      <if test="contentEn != null" >
        #{contentEn,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="imgPosition != null" >
        #{imgPosition,jdbcType=VARCHAR},
      </if>
      <if test="imgWidth != null" >
        #{imgWidth,jdbcType=INTEGER},
      </if>
      <if test="titleCn != null" >
        #{titleCn,jdbcType=VARCHAR},
      </if>
      <if test="titleEn != null" >
        #{titleEn,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="available != null" >
        #{available,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.pl.hmp.server.dao.entity.MenuPages" >
    update sys_menu_pages
    <set >
      <if test="sysId != null" >
        sys_id = #{sysId,jdbcType=BIGINT},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="backImg != null" >
        back_img = #{backImg,jdbcType=VARCHAR},
      </if>
      <if test="contentCn != null" >
        content_cn = #{contentCn,jdbcType=VARCHAR},
      </if>
      <if test="contentEn != null" >
        content_en = #{contentEn,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="imgPosition != null" >
        img_position = #{imgPosition,jdbcType=VARCHAR},
      </if>
      <if test="imgWidth != null" >
        img_width = #{imgWidth,jdbcType=INTEGER},
      </if>
      <if test="titleCn != null" >
        title_cn = #{titleCn,jdbcType=VARCHAR},
      </if>
      <if test="titleEn != null" >
        title_en = #{titleEn,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        menu_id = #{menuId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=BIGINT},
      </if>
      <if test="available != null" >
        available = #{available,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.pl.hmp.server.dao.entity.MenuPages" >
    update sys_menu_pages
    set sys_id = #{sysId,jdbcType=BIGINT},
      org_id = #{orgId,jdbcType=BIGINT},
      back_img = #{backImg,jdbcType=VARCHAR},
      content_cn = #{contentCn,jdbcType=VARCHAR},
      content_en = #{contentEn,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      img_position = #{imgPosition,jdbcType=VARCHAR},
      img_width = #{imgWidth,jdbcType=INTEGER},
      title_cn = #{titleCn,jdbcType=VARCHAR},
      title_en = #{titleEn,jdbcType=VARCHAR},
      menu_id = #{menuId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=BIGINT},
      available = #{available,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!-- 自定义 -->
  <select id="selectByMenuId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> 
    from sys_menu_pages where menu_id = #{channelId}
  </select>
  <delete id="deleteByChannelId">
    delete from sys_menu_pages where menu_id = #{channelId}
  </delete>
</mapper>