<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.pl.hmp.server.dao.mapper.SysLsOpLogMapper" >
  <resultMap id="BaseResultMap" type="cn.pl.hmp.server.dao.entity.SysLsOpLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sys_id" property="sysId" jdbcType="BIGINT" />
    <result column="org_id" property="orgId" jdbcType="BIGINT" />
    <result column="log_type" property="logType" jdbcType="VARCHAR" />
    <result column="hotel_id" property="hotelId" jdbcType="BIGINT" />
    <result column="hotel_name" property="hotelName" jdbcType="VARCHAR" />
    <result column="room_num" property="roomNum" jdbcType="VARCHAR" />
    <result column="op_type" property="opType" jdbcType="VARCHAR" />
    <result column="op_data" property="opData" jdbcType="VARCHAR" />
    <result column="op_time" property="opTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, sys_id, org_id, log_type, hotel_id, hotel_name, room_num, op_type, op_data, op_time, 
    create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.pl.hmp.server.dao.entity.SysLsOpLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from sys_ls_op_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_ls_op_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_ls_op_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.pl.hmp.server.dao.entity.SysLsOpLog" >
    insert into sys_ls_op_log (id, sys_id, org_id, 
      log_type, hotel_id, hotel_name, 
      room_num, op_type, op_data, 
      op_time, create_time)
    values (#{id,jdbcType=BIGINT}, #{sysId,jdbcType=BIGINT}, #{orgId,jdbcType=BIGINT}, 
      #{logType,jdbcType=VARCHAR}, #{hotelId,jdbcType=BIGINT}, #{hotelName,jdbcType=VARCHAR}, 
      #{roomNum,jdbcType=VARCHAR}, #{opType,jdbcType=VARCHAR}, #{opData,jdbcType=VARCHAR}, 
      #{opTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.pl.hmp.server.dao.entity.SysLsOpLog" >
    insert into sys_ls_op_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sysId != null" >
        sys_id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="logType != null" >
        log_type,
      </if>
      <if test="hotelId != null" >
        hotel_id,
      </if>
      <if test="hotelName != null" >
        hotel_name,
      </if>
      <if test="roomNum != null" >
        room_num,
      </if>
      <if test="opType != null" >
        op_type,
      </if>
      <if test="opData != null" >
        op_data,
      </if>
      <if test="opTime != null" >
        op_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sysId != null" >
        #{sysId,jdbcType=BIGINT},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="logType != null" >
        #{logType,jdbcType=VARCHAR},
      </if>
      <if test="hotelId != null" >
        #{hotelId,jdbcType=BIGINT},
      </if>
      <if test="hotelName != null" >
        #{hotelName,jdbcType=VARCHAR},
      </if>
      <if test="roomNum != null" >
        #{roomNum,jdbcType=VARCHAR},
      </if>
      <if test="opType != null" >
        #{opType,jdbcType=VARCHAR},
      </if>
      <if test="opData != null" >
        #{opData,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null" >
        #{opTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.pl.hmp.server.dao.entity.SysLsOpLog" >
    update sys_ls_op_log
    <set >
      <if test="sysId != null" >
        sys_id = #{sysId,jdbcType=BIGINT},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="logType != null" >
        log_type = #{logType,jdbcType=VARCHAR},
      </if>
      <if test="hotelId != null" >
        hotel_id = #{hotelId,jdbcType=BIGINT},
      </if>
      <if test="hotelName != null" >
        hotel_name = #{hotelName,jdbcType=VARCHAR},
      </if>
      <if test="roomNum != null" >
        room_num = #{roomNum,jdbcType=VARCHAR},
      </if>
      <if test="opType != null" >
        op_type = #{opType,jdbcType=VARCHAR},
      </if>
      <if test="opData != null" >
        op_data = #{opData,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null" >
        op_time = #{opTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.pl.hmp.server.dao.entity.SysLsOpLog" >
    update sys_ls_op_log
    set sys_id = #{sysId,jdbcType=BIGINT},
      org_id = #{orgId,jdbcType=BIGINT},
      log_type = #{logType,jdbcType=VARCHAR},
      hotel_id = #{hotelId,jdbcType=BIGINT},
      hotel_name = #{hotelName,jdbcType=VARCHAR},   
      room_num = #{roomNum,jdbcType=VARCHAR},
      op_type = #{opType,jdbcType=VARCHAR},
      op_data = #{opData,jdbcType=VARCHAR},
      op_time = #{opTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!-- 自定义 -->
  <!-- 条件查询 -->
  <select id="selectByCondition" resultMap="BaseResultMap">
    select log.*,room.room_type from sys_ls_op_log log left join 
     hmp_hotel_room room on (log.hotel_id= room.hotel_id
     and log.room_num = room.room_num) where 
     log.hotel_id is not null and log.hotel_id > 0 
     and log_type = 'STATE' and op_type = 'BROAD' 
     <if test="beginTime != null and endTime != null">
         and log.op_time between #{beginTime} and #{endTime}
     </if>
     order by log.op_time
  </select>
</mapper>